<h3> <%= @stylist.name %> </h3>

<form action='/stylist/<%= @stylist.id %>' method='post'>
  <input name="_method" type="hidden" value="patch">
  <div class='form-group'>
    <label for='new_name'>Enter a new name:</label>
    <input id='new_name' name='new_name' class='form-control' type='text'>
  </div>
  <button id='update_name' class='btn-success'>Update Stylist</button>
</form>

<a href="/stylists">Back</a>
